* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: none;
  min-width: 25vmin;
  padding: 2vmin 3vmin;
  text-align: center;
  background-color: #008cba;
  color: white;
  font-weight: 200;
  box-shadow: 0 0 3px #0000004d;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.main-container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}

.left-side {
  font-size: calc(3px + 2vmin);
  background-color: #4ea49e;
  flex: 30vmin;
  align-items: center;
  display: flex;
  justify-content: center;
}

.right-side {
  flex: 140vmin;
  background-color: #eee;
  font-size: calc(3px + 2vmin);
  
}

.button {
  text-align: center;
}

.button button {
  margin: 4vmin;
}

.grid-table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2vmin 4vmin;
}

.grid-items {
  background-color: #ffffff;
  border: 1px solid black;
  text-align: center;
  padding: 2vmin;
}

.grid-title {
  background-color: #92a8d1;
  font-size: calc(6px + 2vmin);
}

.add-button {
  text-align: center;
}

a {
  text-decoration: none;
}

.form h2 {
  text-align: center;
}

.form-right {
  margin: 0 auto;
  padding: 2vmin 5vmin;
  width: 75vmin;
  background-color: #e6e6e6;
}

input[type="text"] {
  width: 40vmin;
  padding: 1vmin;
  border: none;
}

label {
  padding: 1.5vmin 1.5vmin 1.5vmin 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #008cba;
  color: white;
  padding: 1vmin 5vmin;
  border: none;
  cursor: pointer;
  margin-left: 42vmin;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

.form {
  padding: 1vmin;
}

.label , .input {
  float: left;
  margin-top: 2vmin;
}

.label {
  width: 15vmin;
}

.input {
  width: 45vmin;
}

.label-input:after {
  content: "";
  display: table;
  clear: both;
}
